.separator {
	position: absolute;
	z-index: 2;

	&:before {
		position: absolute;
		content: ' ';
		display: block;
		width: 100%;
		height: 100%;
		border: 2px solid #aaa;
		border-radius: 2px;
		left: -2px;
		top: -2px;
	}
}

.horizontal.separator {
	width: 100%;
	height: 0;
	cursor: ns-resize;
}

.vertical.separator {
	width: 0;
	height: 100%;
	cursor: ew-resize;
}