<!DOCTYPE html>
<head>
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>

	<title>Ractive.js tutorials | <%= step.tutorialTitle %> | part <%= stepIndex + 1 %></title>

	<link rel='icon' type='image/png' href='../../assets/favicon.png'>
	<link rel='stylesheet' href='../../min.css'>

	<!--[if lte IE 8]>
		<script src='../../assets/respond.min.js'></script>
		<script src='../../assets/html5shiv.min.js'></script>
	<![endif]-->
</head>

<body>
	<%= partials.nav %>

	<div class='app-container'>
		<p class='loading'>loading...</p>
	</div>

	<%= partials.analytics %>

	<script>
		window.TUTORIAL_DATA = {
			manifest: <%=
				JSON.stringify( tutorialData.map( function ( tutorial ) {
					return {
						title: tutorial.title,
						numSteps: tutorial.steps.length
					};
				}) )
			%>,

			// initial tutorial on page load
			step: <%= JSON.stringify( step ) %>
		};
	</script>

	<script src='../../bundle.js'></script>
	<script src='../../app.js'></script>
</body>
