#output-block input {
	width: 100%;
	max-width: 20em;
	font-size: inherit;
	font-family: inherit;
	padding: 0.4em;
	outline: none;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#output-block input:focus {
	box-shadow: inset 1px 1px rgba(0,0,0,0.08);
	background-color: #f4f4f4;
}

#output-block li .edit {
	position: absolute;
	width: 100%;
	left: -0.2em;
	top: -0.2em;
	padding: 0.2em;
	border: none;
}

#output-block li input[type="checkbox"] {
	position: absolute;
	padding: 0;
	margin: 0;
	left: 0.5em;
	top: 0.7em;
	border: none;
	width: auto;
}

#output-block .todos {
	padding: 0;
	border-top: 1px solid #f0f0f0;
	max-width: 20em;
}

#output-block .todos li {
	position: relative;
	padding: 0.5em 3em 0.5em 2em;
	list-style: none;
	border-bottom: 1px solid #eee;
	margin: 0;
	min-height: 1em;
}

#output-block .todos span {
	position: relative;
	display: block;
	cursor: pointer;
}

#output-block li.done span {
	opacity: 0.5;
	text-decoration: line-through;
}

#output-block .todos .button {
	position: absolute;
	right: 0.5em;
	width: 1em;
	text-align: center;
	top: 0.7em;
	background-color: #d00;
	border: none;
	opacity: 0.3;
	line-height: 1;
	color: white;
}

#output-block .todos li:hover {
	background-color: #f9f9f9;
}

#output-block .todos li:hover .button {
	opacity: 1;
}
