aside, .hint {
	padding: 0.5em;
	border-left: 2px solid #729d34;
	background-color: #f9fcf6;
	margin: 0 0 1em 0;

	& > p:last-child {
		margin: 0;
	}
}

kbd {
	background-color: #f9f9f9;
	border: 1px solid #eee;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-radius: 0.2em;
	font-family: Inconsolata, monospace;
	font-size: 0.8em;
	padding: 0.1em 0.3em;
	white-space: pre;
}

.interactive-helper {
	position: absolute;
	right: 1em;
	width: 100%;
	cursor: pointer;

	p {
		position: absolute;
		top: -1.4em;
		right: 0;
		text-align: right;
		font-size: 0.8em;
		padding: 0.2em 0.5em 0.4em 0.2em;
		border: 1px solid #eee;
		border-top: none;
		border-right: none;
		background-color: #f9f9f9;
		box-shadow: -1px 1px 1px white;
	}
}

.interactive-helper-error {
	color: #d00;
	font-size: 0.8em;
	background-color: #fee;
	padding: 0.2em;
	margin: -1em 0 1em 0;
}

#copy-block {
	& > pre, aside > pre {
		white-space: pre;
		font-family: Inconsolata, monospace;
		font-size: 14px;
		background-color: rgba(0,0,0,0.03);
		display: block;
		padding: 0.5em;
		margin: 0 0 1em 0;
		overflow-x: auto;

		// TODO should these styles be in shared in the first place?
		&:before {
			display: none;
		}

		/* &.lang-html:before {
			content: 'html';
		}

		&.lang-js:before {
			content: 'javascript';
		} */
	}

	aside > pre {
		margin: 0 -0.5em 1em -0.5em;
	}

	code {
		font-family: Inconsolata, monospace;
		background-color: rgba(0,0,0,0.03);
		border: 1px solid rgba(0,0,0,0.08);
		white-space: pre;
	}

	.CodeMirror {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		margin: 0 0 1em 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
