.divvy-inner {
	position: relative;
	@include border-box;
}

.divvy-inner.copy-block {
	border: 1px solid #aaa;

	.info {
		background-color: #fafafa;

		strong {
			width: 2.5em;
			display: inline-block;
			text-align: center;
			top: 0.1em;
			line-height: 1;
		}
	}
}

.divvy-vertical-control {
	width: 10px;
	background-color: transparent;
	z-index: 10;
}

.divvy-vertical-control:after {
	border-right: 1px solid #eee;
	border-left: none;
	left: -10px;
}

.divvy-horizontal-control {
	height: 10px;
	background-color: transparent;
	z-index: 10;
}

.divvy-horizontal-control:after {
	border-bottom: 1px solid #eee;
	border-top: none;
	top: -10px;
}

.divvy-leaf {
	padding: 0;
}
