$plain: #444;
$keyword: $blue;
//$var: #444;
$var: rgb(80,80,180);
$punctuation: #888;
$string: $green;
$type: $blue;
$comment: #aaa;
//$attrName: rgb(50,150,50);
$attrName: rgb(80,80,180);
$tag: $blue;
$attrValue: $string;
$literal: rgb(150,0,0);