<div class='left-nav {{open ? "open" : ""}}'>
	<div class='toggle' on-click='toggle'>
		<strong>Tutorials</strong>
		<span class='cross'>+</span>
	</div>

	<div class='nav-options'>
		{{#each manifest :i}}
			<a
				class='nav-option'
				style='height: {{ 100 / manifest.length }}%'
				href='../../{{slugify(title)}}/1'
			>
				<div class='nav-option-contents'>
					{{title}}
					<span on-tap='ripple' class='number {{i === currentStep.tutorialIndex ? "selected" : ""}}'>{{i + 1 }}</span>
				</div>
			</a>
		{{/each}}
	</div>
</div>

<style>
	.left-nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 17em;
		height: 100%;
		background-color: white;
		border-right: 1px solid #eee;
		padding: 3.4em 0 0 0;
		cursor: pointer;
		box-shadow: 1px 0 3px rgba(0,0,0,.05);

		-webkit-transition: all 0.2s cubic-bezier(.02,.91,.29,1);
		-moz-transition: all 0.2s cubic-bezier(.02,.91,.29,1);
		-ms-transition: all 0.2s cubic-bezier(.02,.91,.29,1);
		-o-transition: all 0.2s cubic-bezier(.02,.91,.29,1);
		transition: all 0.2s cubic-bezier(.02,.91,.29,1);

		-webkit-transform: translate3d(-13em,0,0);
		-moz-transform: translate3d(-13em,0,0);
		-ms-transform: translate3d(-13em,0,0);
		-o-transform: translate3d(-13em,0,0);
		transform: translate3d(-13em,0,0);

		-webkit-backface-visibility: hidden;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		will-change: -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform;
	}

	.open {
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	.toggle {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 3.4em;
		padding: 1.2em;
		border-bottom: 1px solid #eee;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.cross {
		position: absolute;
		font-size: 1.4em;
		line-height: 1;
		right: 1.2rem;
		top: 1.2rem;
		background-color: white;
		width: 1em;
		height: 1em;
		display: block;
		text-align: center;

		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);

		-webkit-transition: -webkit-transform 0.3s cubic-bezier(.02,.91,.29,1);
		-moz-transition: -moz-transform 0.3s cubic-bezier(.02,.91,.29,1);
		-ms-transition: -ms-transform 0.3s cubic-bezier(.02,.91,.29,1);
		-o-transition: -o-transform 0.3s cubic-bezier(.02,.91,.29,1);
		transition: transform 0.3s cubic-bezier(.02,.91,.29,1);
	}

	.open .cross {
		-webkit-transform: rotate(315deg);
		-moz-transform: rotate(315deg);
		-ms-transform: rotate(315deg);
		-o-transform: rotate(315deg);
		transform: rotate(315deg);
	}

	.nav-options {
		width: 100%;
		height: 100%;
		overflow: auto;
	}

	.nav-option {
		position: relative;
		display: block;
		padding: 0.5em 0;
		min-height: 2.5em;
		border-bottom: 1px solid #fcfcfc;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.nav-option:hover {
		background-color: #fcfcfc;
	}

	.nav-option:hover .nav-option-contents {
		text-decoration: underline;
	}

	.nav-option-contents {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;
		padding: 0 1.2em;
		-webkit-transform: translate(0,-50%);
		-moz-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%);
		-o-transform: translate(0,-50%);
		transform: translate(0,-50%);

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.number {
		position: absolute;
		top: 0;
		right: 1.2rem;
		border: 1px solid #f9f9f9;
		border-radius: 50%;
		display: block;
		text-align: center;
		width: 1.6em;
		height: 1.6em;
		font-size: .8em;
		line-height: 1.7;
		color: #999;
		background-color: white;

		/*-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;*/
	}

	.number.selected {
		background-color: #729d34;
		border-color: #729d34;
		color: white;

		/*-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;*/
	}
</style>

<script>
	component.exports = {
		onrender () {
			this.on({
				toggle: () => {
					this.toggle( 'open' );
				},
				ripple: event => {
					if ( event.node.classList ) {
						setTimeout( () => event.node.classList.add( 'tapped' ), 100 );
					}
				}
			});
		},

		data: {
			slugify: require( 'utils/slugify' )
		}
	};
</script>
