svg {
	width: 100%;
	height: 100%;
}

#svg_wrapper {
	width: 100%;
	height: 100%;
}

.temperatures {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 4em 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2em;
}

.radio-group {
	display: inline-block;
	float: right;
	text-align: right;
	padding: 0.5em 0 0 0;
}

.header h2 {
	float: left;
	margin: 0;
}

.header select {
	position: relative;
	top: 0.1em;
	float: left;
	clear: left;
	font-size: inherit;
	font-family: inherit;
	z-index: 7;
}

.header label {
	position: relative;
	z-index: 7;
}

.header p {
	float: left;
	clear: left;
	margin: 0;
}

.bar-chart {
	position: relative;
	padding: 0 0 3em 0;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.temperature-band {
	fill-opacity: 0.3;
	stroke-width: 2;
}

.freezing {
	stroke: #ccc;
	stroke-width: 1;
}

.marker circle {
	fill: white;
	stroke: black;
	stroke-width: 1;
}

.marker	text {
	text-anchor: middle;
	font-family: 'Helvetica Neue', 'Arial';
	font-size: 0.6em;
	font-weight: bold;
	fill: #333;
}

.month-labels {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.month-labels span {
	text-align: center;
	float: left;
	display: block;
	font-family: 'Helvetica Neue', 'Arial';
	font-size: 0.6em;
}