.gif-thumbs img {
	width: 16.666%;
	float: left;
	border: 2px solid white;
	border-radius: 0.2em;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.gif-thumbs .selected {
	border: 2px solid rgb(114,157,52);
	box-shadow: 1px 1px 3px rgba(114,157,52,0.3);
}

.gif {
	padding: 0.5em 0 0 0;
	text-align: center;
	clear: both;
}

.gif img {
	height: 250px;
	margin: 0 auto;
}