select[multiple] {
	font-family: inherit;
	font-size: inherit;
	height: auto;
	padding: 0.2em;
	border: 1px solid #aaa;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
	outline: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	padding: 0.5em;
	color: white;
	display: inline-block;
}