#output-block .slideshow {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0 3em 0;
	background-color: #f4f4f4;
}

#output-block .main {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#output-block .prev, #output-block .next {
	position: absolute;
	top: 0;
	width: 2em;
	height: 100%;
	text-align: center;
	cursor: pointer;
	font-size: 1em;
	padding: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#output-block .prev:hover, #output-block .next:hover {
	background-color: #eee;
}

#output-block .prev span, #output-block .next span {
	position: absolute;
	top: 50%;
	width: 100%;
	display: block;
	line-height: 0;
	text-align: center;
	font-size: 1.6em;
	font-family: Arial;
	color: #aaa;
}

#output-block .prev {
	left: 0;
	border-right: 1px solid #ddd;
}

#output-block .next {
	right: 0;
	border-left: 1px solid #ddd;
}

#output-block .main-image {
	width: 100%;
	height: 100%;
	background: #f4f4f4 no-repeat 50% 50%;
	background-size: contain;
}

#output-block .caption {
	position: absolute;
	width: 100%;
	height: 3em;
	left: 0;
	bottom: 0;
	text-align: center;
	background-color: white;
}
